# LangChain
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=omnisummary

# Logging
LOG_LEVEL=DEBUG

# Slack
SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=

# Tavily
TAVILY_API_KEY=

# Reddit
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

# AWS
AWS_PROFILE_NAME=
